PORT=3000
NODE_ENV=development

DATABASE_URL=mysql://root:password@localhost:3306

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="your-firebase-private-key"

PYTHON_SERVICE_URL=http://localhost:8000
